[submodule "vendor/tree-sitter"]
	path = vendor/tree-sitter
	url = git@github.com:tree-sitter/tree-sitter.git
[submodule "vendor/tree-sitter-swift"]
	path = vendor/tree-sitter-swift
	url = git@github.com:alex-pinkus/tree-sitter-swift.git
